@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-color: hsl(225, 100%, 94%);
}

.container {
    height:96vh;
    max-width: 1440px;
    margin: 0 auto;
    background: url(./images/pattern-background-desktop.svg) no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:"Red Hat display" sans-serif;
}

.card{
    display: flex;
    flex-direction: column;
    width: min(85%, 20rem);
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0px 20px 20px 0px hsl(225, 100%, 94%);

}

.card > img{
    border-radius: 1.5rem;
}

.cont--bdy {
    margin: 1em 1.5em;
    text-align: center;
}

.cont--bdy > h2{
    font-weight: 900;
}

.cont--bdy p {
    line-height: 1.8rem;
    color: hsl(224, 23%, 55%);

}

button{
    border-radius: 0.6rem;
    border: none;
    width: 100%;
    font-weight: 500;
    color: blue;
    padding: 0.9em 2em;
    font-size: 1rem;
    background-color: hsl(225, 100%, 94%);
}
button:hover{
    cursor: pointer;
    opacity: 0.2;
}
.plan {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: hsl(225, 100%, 98%);
    padding: 0.9em;
    border-radius: 0.6rem;
    margin: 2em 0;
  }
  
  .plan > div {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 4em;
  }
  
  .plan p {
    margin: 0;
  }
  
  .plan span {
    font-weight: 700;
    color: black;
    font-size: small;
  }
  
  .plan a {
    color: hsl(245, 75%, 52%);
    font-weight: 700;
  }
  
  .plan a:hover {
    cursor: pointer;
    text-decoration: none;
    opacity: 0.7;
  }
  
  .cont--bdy > p:last-child {
    font-weight:700;
  }
  
  .cont--bdy > p:last-child:hover {
    cursor: pointer;
    color: black;
  }
  
  .attribution {
    text-align: center;
  }
  
  @media (max-width: 375px) {
    .container {
      background: url(./images/pattern-background-mobile.svg) no-repeat;
      background-color: hsl(225, 100%, 94%);
    }
  
    .plan > div {
      margin-right: 1.5em;
    }
}